@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  min-width: 370px;
}

.tags::-webkit-scrollbar {
  display: none;
}

.card {
  width: 32%;
}

@media only screen and (max-width: 1055px) {
  .card {
    width: 48.5%;
  }

  .input {
    width: 400px;
  }
}

@media only screen and (max-width: 830px) {
  .input {
    width: 350px;
  }
}

@media only screen and (max-width: 725px) {
  .card {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .input {
    width: 200px;
  }

  .tags {
    margin-bottom: 20px;
  }

  .searchIcon {
    width: 70px;
  }
}

@media only screen and (max-width: 490px) {
  .input {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .searchIcon {
    width: 30px;
  }

  .icon {
    height: 10px;
    width: 10px;
  }
}
